<div class=".container">
	<div class="row headerLogo">
		<div class="col-md-4">
		</div>
		<div class="col-md-5">
			<p class="schoolName">MEI FOUNDATION.ORG</p>
			<p class="schoolLocation">CHENNAI, INDIA</p> 
		</div>
		<div class="col-md-3">
			<p><b><a href="#/mission">Our Mission</a></b></p>
			<p>Vivasayiyin Menmei</p>
		</div>
	</div>
	<div class="row headerButtons">
		<div class="col-md-12">
			<a href="#/home"><button type="button" class="btn btn-lg">Home</button></a>
			<a href="#/"><button type="button" class="btn btn-lg">Agriculture</button></a>
			<a href="#/"><button type="button" class="btn btn-lg">Village adoption</button></a>
			<a href="#/"><button type="button" class="btn btn-lg">Farmer Family Protection</button></a>
			<a href="#/"><button type="button" class="btn btn-lg">Education Continuation</button></a>
			<a href="#/"><button type="button" class="btn btn-lg">Innovation</button></a>
			<a href="#/"><button type="button" class="btn btn-lg">Goals</button></a>
			<a href="#/"><button type="button" class="btn btn-lg">How to Sponsor</button></a>
			<a href="#/"><button type="button" class="btn btn-lg">Thank You!</button></a>
		</div>
	</div>
</div> 
